@using SellingBags.Models.ViewModel
@using SellingBags.Models.DataContext
@using SellingBags.Common

@{
    ProductContext productContext = new ProductContext();
    ProductVM productVM = new ProductVM();
    var cart = (VirtualCartContext)Session[Sessions.CART];
    WishListContext wishListContext = new WishListContext();
    var account = (LoginAccount)Session[Sessions.USER_SESSION];
    var countWishList = 0;
    if(account != null)
    {
        countWishList = wishListContext.GetWishLists(account.ID_Account).Count();
        
    }

    var countCart = 0;
    if(cart != null)
    {
        foreach(var item in cart.GetList())
        {
            countCart += item.Quantity;

        }
    }
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Ziara | Thời trang túi xách đẹp</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Assets/images/logo/ziara-icon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Assets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    <!-- Font CSS -->
    <link rel="stylesheet" href="~/Assets/fonts/fontawesome-free-6.5.2/css/all.css">


    
</head>

<body>
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-default bootsnav">
            <div class="container-fluid">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/Assets/images/logo/ziara-logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto mr-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("NewProducts","Product")">Hàng mới</a></li>
                        <li class="dropdown megamenu-fw">
                            <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Sản phẩm </a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        @{

                                            productVM.Categories = productContext.GetCategories();
                                            foreach (var item in productVM.Categories)
                                            {
                                                productVM.ProductTypes = productContext.GetProductTypes(item.ID_Category);
                                                <div class="col-menu col-sm-3 col-md-3">
                                                    <h6 class="title">@item.Name</h6>
                                                    <div class="content">
                                                        <ul class="menu-col">
                                                            <li><a href="@Url.Action("ProductsByCategory","Product",new { ID_Category = item.ID_Category.Trim() })">Xem tất cả @item.Name.ToLower()</a></li>

                                                            @foreach (var navItem in productVM.ProductTypes)
                                                            {
                                                                <li><a href="@Url.Action("ProductsByType","Product",new { ID_ProductType = navItem.ID_Type.Trim() })">@navItem.Name </a></li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown ">
                            <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Shop</a>
                            <ul class="dropdown-menu left-auto">
                                <li>@Html.ActionLink("Giỏ hàng", "Index", "Cart")</li>
                                <li>@Html.ActionLink("Thanh toán", "Index", "Checkout")</li>
                                <li>@Html.ActionLink("Tài khoản của tôi", "Index", "Account")</li>
                                <li>@Html.ActionLink("Danh sách yêu thích", "WishList", "Account")</li>
                                <li>@Html.ActionLink("Sản phẩm", "Index", "Product")</li>
                            </ul>
                        </li>
                        @*<li class="dropdown">
                            <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Bộ sưu tập</a>
                            <ul class="dropdown-menu">
                            </ul>
                        </li>*@
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("","")">Về chúng tôi</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        
                        @{
                            if (Session[Sessions.USER_SESSION] != null)
                            {
                                <li class="user dropdown">
                                    <a href="" class="nav-link dropdown-toggle arrow" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                    <ul class="dropdown-menu  border-bottom">
                                        <li class="pt-3 pb-3">@Html.ActionLink("Thông tin tài khoản", "", "Account")</li>
                                        <li class="pb-3">@Html.ActionLink("Lịch sử mua hàng", "Index", "Order")</li>
                                        <li class="pb-2">@Html.ActionLink("Đăng xuất", "Logout", "Account")</li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="user">
                                    <a href="@Url.Action("Login","Account")"><i class="fa fa-user"></i></a>
                                </li>
                            }

                        }
                        <li class="wishlist">
                            <a href="@Url.Action("WishList","Account")">
                                <i class="fa fa-heart"></i>
                                <span class="badge">@countWishList</span>
                            </a>
                        </li>


                        <li class="side-menu">
                            <a href="@Url.Action("Index","Cart")">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge" id="countCart">@countCart</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list my-5">
                        @{
                            if (countCart != 0)
                            {
                                foreach (var item in cart.GetList())
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col-3">
                                                <a href="@Url.Action("Detail","Product",new {ID_Product = item.Product.ID_Product.Trim()})" class="photo"><img src="~/Assets/images/products/@item.Product.ImageURL" class="cart-thumb" alt="" /></a>

                                            </div>
                                            <div class="col-9">
                                                <h6><a href="@Url.Action("Detail","Product",new {ID_Product = item.Product.ID_Product.Trim()})">@item.Product.Name</a></h6>
                                                <p>@item.Quantity x - <span class="price">@Converts.convertVND(item.Product.Price)</span></p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="mb-4 pb-4"><span class="float-right"><strong>Tạm tính</strong>: @Converts.convertVND(cart.TotalMoney())</span></li>
                                <li>
                                    @Html.ActionLink("Xem giỏ hàng", "Index", "Cart", null, new { @class = "btn hvr-hover text-white" })
                                </li>
                            }
                            else
                            {
                                <li>Chưa có sản phẩm nào</li>
                                <li class="my-5"><a class="btn hvr-hover close-side float-left border-0 text-white">Tiếp tục mua sắm</a></li>
                            }
                        }
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
    {
        <div class="top-search fixed-top">
            <div class="container">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Bạn muốn tìm gì hôm nay?" name="keyword">
                    <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>

    }
    <!-- End Top Search -->

    <div class="container-fluid">
        @RenderBody()
    </div>

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Về Ziara</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Phuxuyen, Hanoi, Vietnam.</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:2020605565">2020605565</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:email@gmail.com">email@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">
            All Rights Reserved. &copy; 2024 <a href="#">Ziara</a> Design By :
            <a href="https://html.design/">html design</a>
        </p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Assets/js/jquery.superslides.min.js"></script>
    <script src="~/Assets/js/bootstrap-select.js"></script>
    <script src="~/Assets/js/inewsticker.js"></script>
    <script src="~/Assets/js/bootsnav.js"></script>
    <script src="~/Assets/js/images-loded.min.js"></script>
    <script src="~/Assets/js/isotope.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/baguetteBox.min.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="~/Assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/js/form-validator.min.js"></script>
    <script src="~/Assets/js/contact-form-script.js"></script>
    <script src="~/Assets/js/custom.js"></script>
</body>
</html>
