@model SellingBags.Areas.Admin.Models.ViewModel.ProductVM

@using SellingBags.Converter
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Chi tiết sản phẩm</h1>
    <p class="mb-4">
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="w-100 mb-2">
                @Html.ActionLink("Quay lại", "Index", "ProductManage", null, new { @class = "btn btn-success" })
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <img class="w-100" src="~/Assets/images/products/@Model.Product.ImageURL" />
                </div>
                <div class="col-lg-8 col-sm-6 col-md-6 p-3">
                    <h5 class="text-gray-900">@Model.Product.Name</h5>
                    <p>Giá: @ConvertVND.convertVND(Model.Product.Price)</p>
                    <p>Màu: @Model.Product.Color <span>|</span> Size: @Model.Product.Size</p>
                    <p>Số lượng: @Model.Product.Quantity</p>
                    <p>Thương hiệu: @Model.Brand</p>
                    <p>Loại sản phẩm: @Model.Type</p>

                    <p>Mô tả: @Model.Product.Description</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Xác nhận xóa Popup -->
    <div id="deleteConfirmPopup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa sản phẩm này?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->