@model SellingBags.Areas.Admin.Models.ViewModel.LoginVM
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin - Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/custom.css">
    <!-- Font CSS -->
    <link rel="stylesheet" href="~/Assets/fonts/fontawesome-free-6.5.2/css/all.css">
</head>
<body>
    <div class="login-res container-fluid">
        <div class="page-wapper loginForm">
            <div class="container d-flex justify-content-center">
                <div class="login-res-wapper ct-wapper" style="width: 80%">
                    <ul class="top-page justify-content-center">
                        <li class="active w-75">
                            <div class="nav-link active" href="" >Admin <span class="dp-xl-none">-</span> Đăng nhập</div>
                        </li>
                    </ul>
                    <div class="ct-form mb-2">
                        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="results-error">
                                <div class="error justify-content-center">
                                    <span>@ViewBag.Error_Text</span>
                                </div>
                            </div>
                            <div class="form-input">
                                <label>Tên đăng nhập</label>
                                <div class="mb-0">
                                    <input placeholder="Admin" name="UserName" class="username" value="@Model.UserName" />
                                </div>
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger", @style = "color: red; font-weight:600" })
                            </div>
                            <div class="form-input mb-0">
                                <label>Mật khẩu</label>
                                <div class="input-icon">
                                    <input type="password" placeholder="**********" id="passwordInput" name="Password" class="password" value="@Model.Password" />
                                    <div id="icon-showpass" class="icon-showpass p-2" onclick="showPass()">
                                        <i class="fa fa-eye-slash" id="eyeIcon"></i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color: red;font-weight:600" })
                            </div>
                            <div class="g-action mt-3">
                                <button type="submit" class="btn hvr-hover border-0">Đăng nhập</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Assets/js/custom.js"></script>
</body>
</html>
