@model SellingBags.Models.ViewModel.HomeVM

@using SellingBags.Models.DataContext
@using SellingBags.Common
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Slider -->
<div class="container-fluid">


    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="~/Assets/images/banner/17781713145933.jpg" class="responsive-image" alt="">
                <div class="container">
                    @*<div class="row">
                            <div class="col-12">
                                <p style="margin-top:50%">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover" })</p>
                            </div>
                        </div>*@
                </div>
            </li>
            <li class="text-center">
                <img src="~/Assets/images/banner/best_seller.jpg" class="responsive-image" alt="">
                <div class="container">
                    @*<div class="row">
                            <div class="col-12">
                                <p style="margin-top:80%">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover" })</p>
                            </div>
                        </div>*@
                </div>
            </li>
            <li class="text-right">
                <img src="~/Assets/images/banner/17561713174309.jpg" class="responsive-image" alt="">
                <div class="container">
                    @*<div class="row">
                            <div class="col-12 ">
                                <p style="margin: 6rem 6rem 0 0; ">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover pl-5 pr-5" })</p>
                            </div>
                        </div>*@
                </div>
            </li>

        </ul>
    </div>
    <!-- End Slider -->
    <script>
        var screenWidth = window.innerWidth;
        var screenHeight = window.innerHeight;

        // Đối tượng ảnh
        var imageElement = document.querySelector('.responsive-image');

        var imageWidth = screenWidth;
        var imageHeight = (imageWidth * imageElement.naturalHeight) / imageElement.naturalWidth;

        // Đặt kích thước mới cho ảnh
        imageElement.style.width = imageWidth + 'px';
        imageElement.style.height = imageHeight + 'px';
    </script>
    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Danh mục</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    foreach (var item in Model.CategoriesAll)
                    {
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="shop-cat-box">
                                <img class="img" src="~/Assets/images/categories/@item.ImageURL" alt="" />
                                <a class="btn hvr-hover" href="@Url.Action("ProductsByCategory", "Product", new {ID_Category = item.ID_Category.Trim()})">@item.Name</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- End Categories -->
    <!-- Start Brands  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Thương hiệu</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                @{
                    foreach (var item in Model.BrandsAll)
                    {
                        <div class="col-lg-3 col-md-3 col-6">
                            <div class="shop-cat-box">
                                <img class="img" src="~/Assets/images/brands/@item.ImageURL" alt="" />
                                <a class="btn hvr-hover" href="@Url.Action("ProductsByBrand", "Product", new {ID_Brand = item.ID_Brand.Trim()})">@item.Name</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- End Brands -->
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Sản phẩm nổi bật</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group w-100">
                            <button class="active w-25" data-filter="*">Tất cả</button>
                            <button class="w-25" data-filter=".new">Mới</button>
                            <button class="w-25" data-filter=".best-seller">Bán chạy</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                @{
                    var ID_Account = "";
                    if (Session[Sessions.USER_SESSION] != null)
                    {
                        ID_Account = (Session[Sessions.USER_SESSION] as LoginAccount).ID_Account;
                    }
                    WishListContext wishListContext = new WishListContext();
                    HomeContext homeContext = new HomeContext();
                    var filter = "";
                    var type = "";
                    var typeName = "";
                    foreach (var item in Model.FeaturedProducts)
                    {

                        if (homeContext.IsBestSeller(item))
                        {
                            filter = "best-seller";
                            type = "sale";
                            typeName = "Hot";
                        }
                        else
                        {
                            filter = "new";
                            type = "new";
                            typeName = "Mới";
                        }
                        <div class="col-lg-3 col-md-4 col-6 special-grid @filter">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="@type">@typeName</p>
                                    </div>
                                    <img src="~/Assets/images/products/@item.ImageURL" class="img-fluid" alt="@item.Name">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="@Url.Action("Detail","Product",new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Xem chi tiết"><i class="fas fa-eye"></i></a></li>
                                            @if (wishListContext.IsWishListed(ID_Account, item.ID_Product))
                                            {
                                                <li><a href="@Url.Action("RemoveToWishList", "Account", new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Xóa khỏi yêu thích"><i class=" fa fa-heart"></i></a></li>

                                            }
                                            else
                                            {
                                                <li><a href="@Url.Action("AddToWishList", "Account", new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Thêm vào yêu thích"><i class="far fa-heart"></i></a></li>
                                            }
                                        </ul>
                                        <a class="cart" id="addButton" href="@Url.Action("Add","Cart")" data-id="@item.ID_Product" data-quantity="1">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <a href="@Url.Action("Detail","Product",new {ID_Product = item.ID_Product.Trim()})">
                                        <h4 class="product-name">@item.Name</h4>
                                        <h5>@Converts.convertVND(item.Price) <del>@Converts.convertVND(item.Price)</del></h5>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addButton = document.getElementById('addButton');
        addButton.addEventListener('click', function (e) {
            e.preventDefault();
            var id_product = addButton.getAttribute('data-id');
            var quantity = addButton.getAttribute('data-quantity');

            var xhr = new XMLHttpRequest();

            xhr.open('POST', addButton.getAttribute('href'), true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {

                    location.reload();
                } else {
                    alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                }
            };
            xhr.onerror = function () {
                alert('Đã xảy ra lỗi khi gửi yêu cầu.');
            };
            xhr.send('ID_Product=' + id_product + '&Quantity=' + quantity);
        });
    });
</script>
