@model SellingBags.Models.ViewModel.HomeVM

@using SellingBags.Common
@using SellingBags.Converter
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/Assets/images/banner/aokang.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-top:300px">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover" })</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Assets/images/banner/best_seller.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-top:350px">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover" })</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="~/Assets/images/banner/new_arrival.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <p style="margin: 6rem 6rem 0 0; ">@Html.ActionLink("Xem thêm", "Index", "Product", null, new { @class = "btn hvr-hover pl-5 pr-5" })</p>
                    </div>
                </div>
            </div>
        </li>
        
    </ul>
</div>
<!-- End Slider -->

<!-- Start Brands  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Thương hiệu</h1>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                foreach (var item in Model.BrandsAll)
                {
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="shop-cat-box">
                            <img class="img-fluid" src="~/Assets/images/brands/@item.ImageURL" alt="" />
                            <a class="btn hvr-hover" href="@Url.Action("ProductsByBrand", "Product", new {ID_Brand = item.ID_Brand.Trim()})">@item.Name</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- End Brands -->


<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Featured Products</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".top-featured">Top featured</button>
                        <button data-filter=".best-seller">Best seller</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">
            @{ 
                var ID_Account = "";
                if (Session[Sessions.USER_SESSION] != null)
                {
                    ID_Account = (Session[Sessions.USER_SESSION] as LoginAccount).ID_Account;
                }
                SellingBags.Models.DataContext.WishListContext context = new SellingBags.Models.DataContext.WishListContext();
                var menu = "";
                foreach(var item in Model.ProductsAll)
                {
                    <div class="col-lg-3 col-md-6 special-grid @menu">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="sale">Sale</p>
                                </div>
                                <img src="~/Assets/images/products/@item.ImageURL" class="img-fluid" alt="@item.Name">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="@Url.Action("Detail","Product",new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Xem chi tiết"><i class="fas fa-eye"></i></a></li>
                                        @if (context.IsWishListed(ID_Account, item.ID_Product))
                                        {
                                        <li><a href="@Url.Action("RemoveToWishList", "Account", new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Xóa khỏi yêu thích"><i class=" fa fa-heart"></i></a></li>

                                        }
                                        else
                                        {
                                        <li><a href="@Url.Action("AddToWishList", "Account", new {ID_Product = item.ID_Product.Trim()})" data-toggle="tooltip" data-placement="right" title="Thêm vào yêu thích"><i class="far fa-heart"></i></a></li>
                                        }
                                    </ul>
                                    <a class="cart" href="@Url.Action("Add", "Cart", new {ID_Product = item.ID_Product.Trim(), Quantity = 1})">Thêm vào giỏ hàng</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <a href="@Url.Action("Detail","Product",new {ID_Product = item.ID_Product.Trim()})">
                                    <h4 class="product-name">@item.Name</h4>
                                    <h5>@ConvertVND.convertVND(item.Price) <del>@ConvertVND.convertVND(item.Price)</del></h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                }
            }
        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Blog  -->
<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>latest blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3>Fusce in augue non nisi fringilla</h3>
                            <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                        </div>
                        <ul class="option-blog">
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog  -->

