@model SellingBags.Models.ViewModel.CheckoutVM
@using SellingBags.Common
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var account = Session[Sessions.USER_SESSION] as LoginAccount;
    var frozen = "frozen";
    var show = "";
}

<div class="cart-box-main">
    <div class="container">
        @using (Html.BeginForm("Add", "Order", FormMethod.Post, new {id="orderForm"})) 
        { 
            <div class="row new-account-login">
                @* Start LeftColumn *@
                <div class="col-sm-6 col-lg-6 mb-3">
                    @* Start Form Login *@
                    <div class="checkout-login">
                        <div class="title-left">
                            <h2><a data-toggle="collapse" href="#formLogin" aria-expanded="true">Đăng nhập</a></h2>
                        </div>
                        @if (account == null)
                        {
                            <div class="login-res">
                                <div id="formLogin" class="login-res-wapper ct-wapper collapse show">
                                    <div class="form">
                                        <form id="loginForm" action="" method="post">
                                            <div class="results-error">
                                                <div class="error">
                                                </div>
                                            </div>
                                            <div class="form-input">
                                                <label>Số điện thoại hoặc Email</label>
                                                <div class="mb-0">
                                                    <input placeholder="Vd: 0123456789" name="UserName" class="username" value="" />
                                                </div>
                                            </div>
                                            <div class="form-input mb-0">
                                                <label>Mật khẩu</label>
                                                <div class="input-icon">
                                                    <input type="password" placeholder="**********" id="passwordInput" name="Password" class="password" value="" />
                                                    <div id="icon-showpass" class="icon-showpass p-2" onclick="showPass()">
                                                        <i class="fa fa-eye-slash" id="eyeIcon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#!" class="forgotpassword">Bạn quên mật khẩu?</a>
                                            <div class="g-action">
                                                <button type="submit" class="btn hvr-hover border-0">Đăng nhập</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        } 
                        else 
                        {
                            <div class="mb-4">Bạn đã đăng nhập bằng tài khoản <strong>@account.UserName</strong></div>
                            frozen = "";
                            show = "show";
                        }
                    
                    </div>
                    @* End Form Login *@

                
                    @* Start Info Address *@
                    <div id="infoAddress" class="checkout-address @frozen">
                        <div class="title-left ">
                            <h2><a data-toggle="collapse" href="#formInfo" aria-expanded="false">Thông tin người nhận</a></h2>
                        </div>
                        <div id="formInfo" class="collapse @show">
                            <div class="title mb-3"><a data-toggle="collapse" href="#address" aria-expanded="false">Địa chỉ của tôi</a></div>
                            <div id="address" class="collapse @show ">
                                @if (account != null)
                                {
                                    SellingBags.Models.DataContext.CheckoutContext checkout = new SellingBags.Models.DataContext.CheckoutContext();
                                    var Addresses = checkout.GetAddresses(account.ID_Account);
                                    foreach (var item in Addresses)
                                    {
                                        <div class="address-box">
                                            <div class="custom-control custom-checkbox">
                                                <input id="@item.ID_Address" name="ID_Address" value="@item.ID_Address" class="custom-control-input mt-4" type="checkbox">
                                                <label class="custom-control-label" for="@item.ID_Address">@item.LastName @item.FirstName</label>
                                                <div class="small text-muted pt-0 pb-0">@item.PhoneNumber</div>
                                                <div class="small text-muted pt-0">@item.SpecificAddress, @item.Ward, @item.District, @item.City</div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <hr>
                            <div class="title mb-3 shopping-box">
                                <a id="addInfo" data-toggle="collapse" href="#newaddress" aria-expanded="false" class="btn hvr-hover w-100">Địa chỉ mới</a>
                            </div>
                            <div id="newaddress" class="collapse">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="lastName">Họ:</label>
                                        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Nhập họ..." value="" >
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="firstName">Tên:</label>
                                        <input type="text" class="form-control" id="firstName" name="FirstName" placeholder="Nhập tên..." value="" >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="username">Số điện thoại:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="username" name="UserName" placeholder="Nhập số điện thoại..." >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="city">Tỉnh / Thành phố:</label>
                                    <div class="input-group">
                                        <select id="city" class="form-control" name="City">
                                            <option>Hà Nội</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="district">Quận / Huyện:</label>
                                    <div class="input-group">
                                        <select id="district" class="form-control" name="District">
                                            <option>Bắc Từ Liêm</option>
                                            <option>Nam Từ Liêm</option>
                                            <option>Cầu Giấy</option>
                                            <option>Thanh Xuân</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="ward">Phường / Xã:</label>
                                    <div class="input-group">
                                        <select id="ward" class="form-control" name="Ward">
                                            <option>Minh Khai</option>
                                            <option>Yên Hòa</option>
                                            <option>Mỹ Đình</option>
                                            <option>Phú Diễn</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="specificaddress">Địa chỉ:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="specificaddress" name="SpecificAddress" placeholder="Nhập địa chỉ..." >
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-12 shopping-box ">
                                    <a id="submitInfoAddress" class="btn hvr-hover text-white border-0 w-100">Đi đến thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* End Info Address *@

                    @* Start Shipping Box *@
                    <div id="shippingBox" class="frozen shipping-method-box ">
                        <div class="title-left">
                            <h2><a data-toggle="collapse" href="#oder" aria-expanded="false">Thanh toán</a></h2>
                        </div>
                        <div id="order" class="collapse">
                            <div class="title mb-3"><a data-toggle="collapse" href="#shipping" aria-expanded="false">Gói vận chuyển</a></div>
                            @* Start Shipping Method *@
                            <div id="shipping" class="mb-4 collapse show">
                                @{ 
                                    var index = 1;
                                    foreach(var item in Model.ShippingCost)
                                    {
                                        var data_id = "shipping" + index;
                                        var check = (index == 1) ? "checked" : "";
                                        index++;
                                        <div class="custom-control custom-radio">
                                            <input id="@data_id" name="ShippingName" value="@item.Name" class="custom-control-input mt-4" type="radio" @check data-shipping-cost="@item.Cost" data-total-money="@Model.Cart.TotalMoney()" >
                                            <label class="custom-control-label" for="@data_id">@item.Name</label>
                                            <span class="float-right font-weight-bold">@Converts.convertVND(item.Cost)</span>
                                        </div>
                                        <div class="ml-4 mb-2 small">(Giao @item.DeliTime)</div>
                                    }
                                    var cost = Model.ShippingCost.First().Cost;
                                    var totalMoney = Model.Cart.TotalMoney() + cost;
                                }        
                            
                            </div>
                            @* End Shipping Method *@
                            <hr>
                            <div class="title mb-3"><a data-toggle="collapse" href="#oderMethod" aria-expanded="false">Phương thức thanh toán</a></div>
                            @* Start Order Method *@
                            <div id="oderMethod" class="collapse show">
                                <div class="custom-control custom-radio">
                                    <input id="order1" name="PaymentName" value="Thanh toán khi nhận hàng" type="radio" class="custom-control-input mt-4" checked required>
                                    <label class="custom-control-label" for="order1">
                                        <img src="~/Assets/images/payment-icon/thanh-toan-khi-nhan-hang.png" alt="" width="20"> Thanh toán khi nhận hàng
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="order2" name="PaymentName" value="Thẻ ATM nội địa" type="radio" class="custom-control-input mt-4" required>
                                    <label class="custom-control-label" for="order2">
                                        <img src="~/Assets/images/payment-icon/the-atm-noi-dia.png" alt="" width="20"> Thẻ ATM nội địa
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="order3" name="PaymentName" value="Thẻ thanh toán quốc tế (VISA, Master, JCB)" type="radio" class="custom-control-input mt-4" required>
                                    <label class="custom-control-label" for="order3">
                                        <img src="~/Assets/images/payment-icon/the-thanh-toan-quoc-te-visa-master-jcb.png" alt="" width="20"> Thẻ thanh toán quốc tế (VISA, Master, JCB)
                                    </label>
                                </div>
                                @{ 
                                    index = 4;
                                    foreach(var item in Model.PaymentMethods)
                                    {
                                        var data_id = "order" + index;
                                        index++;
                                        <div class="custom-control custom-radio">
                                            <input id="@data_id" name="PaymentName" value="@item.Name" type="radio" class="custom-control-input mt-4" required>
                                            <label class="custom-control-label" for="@data_id">
                                                <img src="~/Assets/images/payment-icon/@item.ImageURL" alt="" width="18"> Thanh toán bằng @item.Name
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                            @* End Order Method *@
                        </div>
                    </div>
                    @* End Shipping Box *@
                </div>
                @* End LeftColumn *@

                @* Start RightColumn *@
                <div class="col-sm-6 col-lg-6 mb-3">
                    @* Start Order Product *@
                    <div class="odr-box">
                        <div class="title-left">
                            <h2>Sản phẩm đang thanh toán</h2>
                        </div>
                        <div class="rounded p-2 bg-light">
                            @foreach(var item in Model.Cart.GetList())
                            {
                                <div class="media mb-2 border-bottom">
                                    <div class="row media-body">
                                        <div class="col-4">
                                            <img class="d-flex ml-lg-4" src="~/Assets/images/products/@item.Product.ImageURL" alt="@item.Product.Name" width="100" />
                                        </div>
                                        <div class="col-8">
                                            <div class="font-weight-bold text-dark">@item.Product.Name</div>
                                            <div class="small text-muted pb-0">Màu @item.Product.Color <span>|</span> Size @item.Product.Size</div>
                                            <div class="small text-muted pb-0 pt-0">Giá: @Converts.convertVND(item.Product.Price)</div>
                                            <div class="small text-muted pt-0">Số lượng: @item.Quantity</div>
                                        </div>
                                    </div>
                                </div>
                            
                            }
                        
                        </div>
                    </div>
                    @* End Order Product *@

                    @* Start Order *@
                    <div class="order-box mt-5">
                        <div class="title-left"><h2>Đặt hàng</h2></div>
                        <div class="d-flex mt-3">
                            <h4>Giá trị đơn hàng</h4>
                            <div class="ml-auto font-weight-bold">@Converts.convertVND(Model.Cart.TotalMoney())</div>
                        </div>
                        <div class="d-flex">
                            <h4>Giảm giá</h4>
                            <div class="ml-auto font-weight-bold">0</div>
                        </div>
                        <div class="d-flex">
                            <h4>Số lượng</h4>
                            <div class="ml-auto font-weight-bold">@Model.Cart.TotaQuantity()</div>
                        </div>
                        <div class="d-flex">
                            <h4>Phí vận chuyển</h4>
                            <div id="shippingCost" class="ml-auto font-weight-bold">@Converts.convertVND(cost)</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Thành tiền</h5>
                            <div class="ml-auto h5" id="totalMoney">@Converts.convertVND(totalMoney)</div>
                            <input type="number" hidden name="TotalMoney" value="@totalMoney" />
                        </div>
                        <hr>
                    </div>
                    @* End Order *@
                    <div class="row">

                        <div id="placeOrder" class="col-12 shopping-box d-none">
                            <button type="submit" class="w-100 btn hvr-hover">Đặt hàng</button> 
                        </div>
                    </div>
                </div>
                @* End RightColumn *@
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$('#loginForm').submit(function (e) {
        //    e.preventDefault();
        //    $.ajax({
        //        url: $(this).attr('action'),
        //        type: 'POST',
        //        data: $(this).serialize(),
        //        success: function (response) {
        //            location.reload();
        //        },
        //        error: function () {
        //            alert('Đăng nhập thất bại. Vui lòng thử lại!');
        //        }
        //    });
        //});
        $('#loginForm').submit(function (e) {
	        e.preventDefault();

	        $.ajax({
		        url: '@Url.Action("Login","Account")',
		        type: 'POST',
		        data: $(this).serialize(),
		        success: function (response) {
			        location.reload();

		        },
		        error: function () {
			        alert('Đăng nhập thất bại. Vui lòng thử lại!');
		        }
	        });
        });


        $('input[name="ShippingName"]').on('change', function () {
            var shippingCost = $(this).data('shipping-cost');
            var totalMoney = $(this).data('total-money');
            var result = parseInt(shippingCost) + parseInt(totalMoney);
            $('#shippingCost').text(convertVND(shippingCost));
            $('#totalMoney').text(convertVND(result));
            $('input[name="TotalMoney"]').val = result;
        });

        function convertVND(amount) {
            return new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);
        }
    });
</script>