@model SellingBags.Models.ViewModel.OrderVM

@using SellingBags.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Lịch sử mua hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Account")">Hồ sơ</a></li>
                    <li class="breadcrumb-item active">Lịch sử mua hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    @foreach (var order in Model.Orders)
    {
        var OrderDetails = SellingBags.Models.DataContext.OrderContext.GetOrderDetails(order.ID_Order);
        if(order.Status == 0)
        {
            ViewBag.Status = "Chờ xác nhận";
        }
        else if(order.Status == 1)
        {
            if (order.DeliDate <= DateTime.Now)
            {
                ViewBag.Status = "Đơn hàng đã hoàn thành";
            }
            else
            {
                ViewBag.Status = "Đang vận chuyển";
            }
        }
        else
        {
            ViewBag.Status = "Đã hủy";
        }
        <div class="order-item mb-3 p-3">
            <div class="d-flex justify-content-end">@ViewBag.Status</div>
            <hr />
            @foreach (var item in OrderDetails)
            {
                SellingBags.Areas.Admin.Models.DataContext.ProductContext context = new SellingBags.Areas.Admin.Models.DataContext.ProductContext();
                item.Product = context.GetProduct(item.ID_Product);
                <a href="@Url.Action("Detail", "Order", new {ID_Order = order.ID_Order.Trim()})">
                    <div class="row p-3">
                        <div class="col-3 p-3">
                            <img class="img-fluid" src="~/Assets/images/products/@item.Product.ImageURL" width="200"/>
                        </div>
                        <div class="col-9 p-3">
                            <div class="h5">@item.Product.Name</div>
                            <div class="h6">Màu @item.Product.Color <span>|</span> Size @item.Product.Size</div>
                            <div class="h6">Số lượng: @item.Quantity <div class="float-right">@Converts.convertVND(item.Product.Price)</div></div>
                        </div>
                    </div>
                </a>
                <hr />
            }
            <div class="d-flex justify-content-end">
                <div class="gr-total">
                    <h5>Thành tiền: @Converts.convertVND(order.TotalMoney)</h5>
                </div>
            </div>
            

        </div>
    }
</div>

