@model SellingBags.Models.ViewModel.AccountVM

@using SellingBags.Common
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container-fluid">
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Thông tin cá nhân</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Account")">Hồ sơ</a></li>
                        <li class="breadcrumb-item active">Thông tin cá nhân</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <h2 class="text-success">@ViewBag.Success</h2>
                    <h2 class="text-danger">@ViewBag.Error</h2>
                </div>
            </div>
            <div class="col-3"></div>
            <div class="col-6">
                @using (Html.BeginForm("Info", "Account", FormMethod.Post))
                {
                    <input name="ID_Customer" value="@Model.Customer.ID_Customer" class="d-none">
                    <div class="mb-3">
                        <label for="lastName">Họ:</label>
                        <input id="lastname" name="LastName" class="form-control" value="@Model.Customer.LastName" />
                    </div>
                    <div class="mb-3">
                        <label for="firstName">Tên:</label>
                        <input id="firstname" name="FirstName" class="form-control" value="@Model.Customer.FirstName" />
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber">Số điện thoại:</label>
                        <input id="phoneNumber" name="PhoneNumber" class="form-control" value="@Model.Customer.PhoneNumber" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email:</label>
                        <input id="email" name="Email" class="form-control" value="@Model.Customer.Email" readonly/>
                    </div>
                    <div class="mb-3">
                        <label for="birthday">Ngày sinh:</label>
                        <input id="birthday" name="BirthDay" class="form-control" value="@Converts.convertDate(Model.Customer.BirthDay.Value)">
                    </div>
                    <div class="mb-3">
                        <label for="city">Tỉnh / Thành phố:</label>
                        <input id="city" name="City" class="form-control" value="@Model.Customer.City" />
                    </div>
                    <div class="mb-3">
                        <label for="district">Quận / Huyện:</label>
                        <input id="district" name="District" class="form-control" value="@Model.Customer.District" />
                    </div>
                    <div class="mb-3">
                        <label for="ward">Phường / Xã:</label>
                        <input id="ward" name="Ward" class="form-control" value="@Model.Customer.Ward" />
                    </div>
                    <div class="mb-3">
                        <label for="address">Địa chỉ:</label>
                        <input id="address" name="Address" class="form-control" value="@Model.Customer.Address" />
                    </div>
                    <div class="mb-3">
                        <label for="Gender">Giới tính:</label>
                        <div class="custom-control custom-radio">
                            <input id="male" name="Gender" class="custom-control-input mt-4" type="radio" value="Nam" checked />
                            <label class="custom-control-label" for="male">Nam</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="female" name="Gender" class="custom-control-input mt-4" value="Nữ" type="radio" />
                            <label class="custom-control-label" for="female">Nữ</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="other" name="Gender" class="custom-control-input mt-4" value="Khác" type="radio" />
                            <label class="custom-control-label" for="other">Khác</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn hvr-hover text-white w-100 border-0">Cập nhật</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

