@model SellingBags.Models.ViewModel.ProductVM
@{
    ViewBag.Title = "ProductsByType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>@ViewBag.ProductType.Name</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("ProductsByCategory", "Product", new {ID_Category = ViewBag.Category.ID_Category.Trim()})">@ViewBag.Category.Name</a></li>
                        <li class="breadcrumb-item active">@ViewBag.ProductType.Name</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-box-inner">
        <div id="sidefilter" class="sidefilter">
            <h3 class="text-center">Bộ lọc</h3>
            <div id="closefilter" class="close"><i class="fa fa-arrow-left"></i></div>
            <div id="filterForm">
                <div class="row">
                    <div class="col-12">
                        <div class="h5">Giá:</div>
                        <div class="ml-3">
                            <div class="custom-control custom-radio">
                                <input id="price1" name="Price" value="0-400000" type="radio" class="custom-control-input mt-4">
                                <label class="custom-control-label" for="price1">
                                    < 400.000
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="price2" name="Price" value="400000-600000" type="radio" class="custom-control-input mt-4">
                                <label class="custom-control-label" for="price2">
                                    400.000 - 600.000
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="price3" name="Price" value="600000-900000" type="radio" class="custom-control-input mt-4">
                                <label class="custom-control-label" for="price3">
                                    600.000 - 900.000
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="price4" name="Price" value="900000+" type="radio" class="custom-control-input mt-4">
                                <label class="custom-control-label" for="price4">
                                    > 900.000
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="h5">Màu sắc:</div>
                        <select id="colorFilter" name="Color" class="control-select">
                            <option value="*">Tất cả</option>
                            @foreach (var item in Model.Colors)
                            {
                                <option value="@item">@item</option>
                            }

                        </select>
                    </div>
                    <div class="col-12 buttonfilter">
                        <button id="applyFilter" class="btn hvr-hover text-white w-100">Hoàn tất</button>
                        <button id="clearFilter" class="btn btn-theme w-100 mt-2">Xóa bộ lọc</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 ">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-6 text-center border-right">
                                <div id="filterBtn" class="btn bg-white w-100 "><i class="fa fa-filter"></i> Bộ lọc</div>
                            </div>
                            <div class="col-6 text-center">
                                <div class="sort-section">
                                    <div id="sortBtn" class="btn bg-white w-100"><i class="fa fa-sort-amount-asc"></i> Sắp xếp</div>
                                    <div id="sortOptions" class="sort-options w-75">
                                        <ul>
                                            <li><a data-value="" class="active">Mặc định</a></li>
                                            <li><a data-value="priceasc">Giá tăng dần</a></li>
                                            <li><a data-value="pricedesc">Giá giảm dần</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    @Html.Partial("_ProductsPartial", Model.ProductsByType)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#applyFilter').click(function() {
            var price = $('input[name="Price"]:checked').val();
            var color = $('#colorFilter').val();
            var sort = $('#sortOptions a.active').data('value');
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results !== null ? results[1] || 0 : null;
            };
            var id = $.urlParam('ID_ProductType');


            $.get('@Url.Action("FilterProductsByType", "Product")', {id: id, price: price, color: color, sort: sort})
                .done(function(result) {
                    $('#grid-view').html(result);
                    $('#sidefilter').removeClass('show');
                    console.log(id);
                })
                .fail(function(error) {
                    console.error('Error applying filter:', error);
                });
        });
        $('#clearFilter').click(function () {
            $('input[name="Price"]').prop('checked', false);
            $('#colorFilter').val('*');
            var sort = $('#sortOptions a.active').data('value');
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results !== null ? results[1] || 0 : null;
            };
            var id = $.urlParam('ID_Category');

            $.get('@Url.Action("FilterProductsByType", "Product")', { id: id, sort: sort })
                .done(function (result) {
                    $('#grid-view').html(result);
                    $('#sidefilter').removeClass('show');
                })
                .fail(function (error) {
                    console.error('Error applying filter:', error);
                });
        });

        $('#sortOptions a').click(function (e) {
            e.preventDefault();

            $('#sortOptions a').removeClass('active');
            $(this).addClass('active');
            $('#applyFilter').trigger('click');
            $('#sortOptions').toggle();
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var addCartButtons = document.querySelectorAll('.cart');
        addCartButtons.forEach(function (addButton) {
            addButton.addEventListener('click', function (e) {
                e.preventDefault();
                var id_product = addButton.getAttribute('data-id');
                var quantity = addButton.getAttribute('data-quantity');

                var xhr = new XMLHttpRequest();

                xhr.open('POST', addButton.getAttribute('href'), true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        alert('Thêm thành công');
                        location.reload();
                    } else {
                        alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                    }
                };
                xhr.onerror = function () {
                    alert('Đã xảy ra lỗi khi gửi yêu cầu.');
                };
                xhr.send('ID_Product=' + id_product + '&Quantity=' + quantity);
            });
        })
    });
    document.addEventListener('DOMContentLoaded', function () {
        var filterBtn = document.getElementById('filterBtn');
        var sidefilter = document.getElementById('sidefilter');
        var closeBtn = document.getElementById('closefilter');
        var sortBtn = document.getElementById('sortBtn');
        var sortOptions = document.getElementById('sortOptions');
        filterBtn.addEventListener('click', function (e) {
            e.stopPropagation();
            sidefilter.classList.toggle('show');
        });

        closeBtn.addEventListener('click', function () {
            sidefilter.classList.remove('show');
        });

        document.body.addEventListener('click', function (e) {
            var target = e.target;
            if (!sidefilter.contains(target)) {
                sidefilter.classList.remove('show');
            }
        });

        sortBtn.addEventListener('click', function () {
            var isOpen = sortOptions.style.display === 'block';
            sortOptions.style.display = isOpen ? 'none' : 'block';
        });
    });
</script>