@model SellingBags.Areas.Admin.Models.ViewModel.OrderVM

@using SellingBags.Common
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    decimal? totalMoney = 0;
}

<div class="container-fluid">
    <div class="mb-4">
        <a href="@Url.Action("Index","OrderManage")" class="btn btn-primary">Quay lại</a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold">Chi tiết đơn hàng</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-4">
                        <h5 class="font-weight-bold">Khách hàng:</h5>
                        <h6>@Model.Address.LastName @Model.Address.FirstName</h6>
                        <h6>@Model.Address.PhoneNumber</h6>
                        <h6>@Model.Address.SpecificAddress, @Model.Address.Ward, @Model.Address.District, @Model.Address.City</h6>
                    </div>
                    <div>
                        <h5 class="font-weight-bold">Chi tiết đơn hàng:</h5>
                        <h6>Mã đơn hàng: @Model.Order.ID_Order</h6>
                        <h6>Ngày đặt: @Converts.convertDateTime(Model.Order.OrderDate)</h6>
                        <h6>Phương thức thanh toán: @Model.Order.PaymentMethod</h6>
                        <h6>Đơn vị giao hàng: @Model.Order.ShippingMethod</h6>
                        <h6>@ViewBag.DeliDate</h6>
                    </div>
                    <div class="pt-3">
                        @if (Model.Order.Status == 0)
                        {
                            <button id="confirmOrder" data-id="@Model.Order.ID_Order" class="btn btn-success w-50 mb-2">Duyệt</button><br>
                            <button id="cancelOrder"  data-id="@Model.Order.ID_Order" class="btn btn-danger w-50 mb-2">Hủy</button>
                        }
                        else if (Model.Order.Status == -1)
                        {
                            <p class="text-danger">Đã hủy</p>
                        }
                        else if (Model.Order.Status == 1)
                        {
                            <p class="text-warning">Đang vận chuyển</p>
                        }
                        else
                        {
                            <p class="text-success">Đã hoàn thành</p>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-4">
                        @foreach (var item in Model.OrderDetails)
                        {
                            totalMoney += item.Product.Price;
                            <div class="row shadow mb-2 p-2">
                                <div class="col-4">
                                    <img src="~/Assets/images/products/@item.Product.ImageURL" width="100">
                                </div>
                                <div class="col-8 mt-2">
                                    <h6>@item.Product.Name</h6>
                                    <h6>Màu @item.Product.Color | Size @item.Product.Size</h6>
                                    <h6>Sl: @item.Quantity <span class="float-right">@Converts.convertVND(item.Product.Price)</span></h6>
                                </div>
                            </div>
                        }
                    </div>
                    <div>
                        <div class="d-flex mt-3">
                            <h6>Giá trị đơn hàng</h6>
                            <div class="ml-auto">@Converts.convertVND(totalMoney)</div>
                        </div>
                        <div class="d-flex">
                            <h6>Phí vận chuyển</h6>
                            <div id="shippingCost" class="ml-auto">@Converts.convertVND(Model.Order.TotalMoney - totalMoney)</div>
                        </div>
                        <div class="d-flex">
                            <h6>Giảm giá phí vận chuyển</h6>
                            <div id="shippingCost" class="ml-auto">@Converts.convertVND(0)</div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Thành tiền</h5>
                            <div class="ml-auto" id="totalMoney"><h5>@Converts.convertVND(Model.Order.TotalMoney)</h5></div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#confirmOrder').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                url: '@Url.Action("Confirm", "OrderManage")',
                type: 'POST',
                data: {ID_Order = id},
                success: function (response) {
                    location.reload();
                }
            });
        });
        $('#cancelOrder').on('click', function (e) {
            e.preventDefault();
            var id = $(this).attr('data-id');
            $.ajax({
                url: '@Url.Action("Cancel", "OrderManage")',
                type: 'POST',
                data: { ID_Order = id },
                success: function (response) {
                    location.reload();
                }
            });
        });
    });
</script>
